@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Karla|Yeseva+One&display=swap');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
$beige-light: #E2E2E0;
$beige-lighter: #F7F7F4;
$yellow: #F4BD30;
$black: #3F3F3F;
$light-black: rgb(136, 136, 136);

// Update Bulma's global variables
$family-sans-serif: "Karla", sans-serif;
$grey-dark: $black;
$grey-light: $beige-light;
$primary: $yellow;
$link: $black;
$widescreen-enabled: false;
$fullhd-enabled: false;
$is-primary: $yellow;
// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: $grey-light;
$input-color: $black;
$input-radius: 10px;

// button variables
$button-background-color: $yellow;
$button-color: $beige-lighter;
$button-border-color: $yellow;

//nav bar variables
$navbar-background-color: $beige-lighter;
$navbar-height: 4rem;
$navbar-item-color: $black;
$navbar-item-hover-color: $yellow;
$navbar-item-hover-background-color: $light-black;


// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

// // Iimporting Carousel styleing
// @import "react-alice-carousel/lib/scss/alice-carousel.scss";

.main-hero-title {
  font-family: "Yeseva One", cursive;
  font-size: 90px;
}

.subtitle-hero {
  font-size: 30px;
}

.padding-v-10 {
  padding: 10px 0;
}

.title {
  font-family: "Yeseva One", cursive;
  letter-spacing: 2px;
}

.title-underLine {
  border-bottom: $grey-light 2px solid;
  letter-spacing: 1px;
}

.header-small {
  font-size: 20px;
  letter-spacing: 1px;
}

.navbar-item-font {
  font-size: 20px;
}

.navbar-logo {
  font-family: "Yeseva One", cursive;
  font-size: 25px;
}

.has-shadow {
  box-shadow: $link;
}

.user-img {
  object-fit: cover;
  width:150px;
  height:150px;
  border-radius: 50%;
}

.profile-img {
  object-fit: cover;
  width:250px;
  height:250px;
  border-radius: 50%;
}

.user_card_container {
  text-align: center;
  // transform: scale(0.7);
}

.user_card_text {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 400;
  
.project-img {
  object-fit: cover;
  width:200px;
  height:200px;
}

.bio-paragraph {
  margin: 5px;
  padding: 5px;
}

.margin-reset {
  margin: 0px;
  margin-bottom: 0px;
}

.test-border {
  border: 2px solid red;
}

.test-border2 {
  border: 2px solid blue;
}

.rounded-box {
  background-color: $beige-light;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.rounded-border-box {
  border: 1.5px solid $beige-light;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.project-card-bio {
  font-size: 12px;
}