@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Karla|Yeseva+One&display=swap');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
$beige-light: #E2E2E0;
$beige-lighter: #F7F7F4;
$yellow: #F4BD30;
$black: #3F3F3F;

// Update Bulma's global variables
$family-sans-serif: "Karla", sans-serif;
$grey-dark: $black;
$grey-light: $beige-light;
$primary: $yellow;
$link: $black;
$widescreen-enabled: false;
$fullhd-enabled: false;
$is-primary: $yellow;
// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: $grey-light;
$input-color: $black;
$input-radius: 10px;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

.title-hero {
  font-family: "Yeseva One", cursive;
  font-size: 90px;
}

.subtitle-hero {
  font-size: 30px;
}

.padding-v-10 {
  padding: 10px 0;
}

.title {
  font-family: "Yeseva One", cursive;
  letter-spacing: 2px;
}

.title-underLine {
  border-bottom: $grey-light 2px solid;
}